<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd 
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- For consider the using of annotations foe defining Spring Bean -->
	<context:annotation-config />

	<!-- For bootstrapping the Spring Repository -->
	<jpa:repositories base-package="net.javabeat.springdata.repository" />
	
	<!-- Load database.properties file -->
	<context:property-placeholder location="classpath:database.properties" />
	
	<!-- Enable Transaction Manager -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- Necessary to get the entity manager injected into the factory bean -->
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- ====== MYSQL DataSource ====== -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${mysql.jdbc.driverClassName}" />
		<property name="url" value="${mysql.jdbc.url}" />
		<property name="username" value="${mysql.jdbc.userName}" />
		<property name="password" value="${mysql.jdbc.password}" />
	</bean>

	<!-- ====== Hibernate JPA Vendor Adaptor ======= -->
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="${jpa.vendor.adapter.show_sql}"/>
        <property name="generateDdl" value="${jpa.vendor.adapter.generateDdl}"/>
        <property name="database" value="${jpa.vendor.adapter.database}"/>
    </bean>

	<!-- ======== Entity Manager factory ======== -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- Data Source -->
        <property name="dataSource" ref="dataSource"/>
        
        <!-- JPA Vendor Adaptor -->
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        
        <!-- spring based scanning for entity classes-->
        <property name="packagesToScan" value="net.javabeat.springdata.*" />
        
        <property name="jpaProperties">
        	<props>
        		<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
        		<prop key="hibernate.dialect">${hibernate.dialect}</prop>
        		<prop key="show_sql">true</prop>
        		<prop key="format_sql">true</prop>
        		<!-- <prop key="hibernate.enable_lazy_load_no_trans">true</prop> -->
        		<!-- <prop key="hibernate.cache.use_query_cache">true</prop> --> 
        	</props>
        </property>
    </bean>

	<!-- Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
</beans>